.ant-carousel .slick-slide {
  background-color: #000000;
  overflow: hidden;
}


.ant-carousel .slick-slide .carousel-img {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
}
